# =========================================
# 🔹 DEPENDENCIES
# =========================================
node_modules/
.pnp/
.pnp.js

# =========================================
# 🔹 TESTING
# =========================================
coverage/

# =========================================
# 🔹 REACT BUILD OUTPUT (NEVER COMMIT)
# =========================================
build/

# =========================================
# 🔹 ELECTRON BUILD OUTPUT (NEVER COMMIT)
# =========================================
dist/
out/
*.exe
*.AppImage
*.deb
*.rpm
*.dmg

# =========================================
# 🔹 LOGS & TEMP FILES
# =========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================================
# 🔹 ENVIRONMENT FILES
# =========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================================
# 🔹 OS / EDITOR FILES
# =========================================
.DS_Store
Thumbs.db

# =========================================
# 🔹 VSCODE & IDE SETTINGS
# =========================================
.vscode/
.idea/

# =========================================
# 🔹 ELECTRON CACHE (LARGE FILES)
# =========================================
electron-builder-cache/
.cache/



# =========================================
#              SECRETS
# =========================================
authno-release.jks
*.jks
*.keystore
Authno Extensions.md
